<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Real time chat</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
  </head>
  <body>
    <header id="header">
      <div id="header-container">
        <h1 id="title">Real Time Chat</h1>
        <a href="https://jameskemp.dev" target="_blank">
          <h2>My Website</h2>
        </a>
      </div>
    </header>
    <main>
      <div id="room-container">
        <% Object.keys(rooms).forEach(room => { %>
        <a href="/<%= room %>">
          <div><%= room %></div>
        </a>
        <% }) %>
      </div>
      <form action="/room" method="POST">
        <input name="room" type="text" required />
        <button type="submit">New Room</button>
      </form>
    </main>
  </body>
</html>
